In [2]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [3]:
# create path for calendar file and read
calendar_file = "Resources/calendar.csv"

calendar_df = pd.read_csv(calendar_file)
# print first 5 rows to check df
calendar_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [4]:
# exploring
# set to create a new df with columns 'listing_id', 'available', 'price', however, noticed that in the "available" column if value = f, the the value in the "price" column would be NaN, 
# therefore "available" column is not of much use as all NaN values pwill be removed. 

calendar_new_df = calendar_df[['listing_id', 'date','available', 'price']].copy()
calendar_new_df

         listing_id        date available   price
0            241032  2016-01-04         t  $85.00
1            241032  2016-01-05         t  $85.00
2            241032  2016-01-06         f     NaN
3            241032  2016-01-07         f     NaN
4            241032  2016-01-08         f     NaN
...             ...         ...       ...     ...
1393565    10208623  2016-12-29         f     NaN
1393566    10208623  2016-12-30         f     NaN
1393567    10208623  2016-12-31         f     NaN
1393568    10208623  2017-01-01         f     NaN
1393569    10208623  2017-01-02         f     NaN

[1393570 rows x 4 columns]

In [11]:
# drop all nan values
# clean_calendar_df = calendar_new_df.dropna()

# replace NaN values for $0 so that it can be used. 
calendar_new_df['price'] = calendar_new_df['price'] .fillna('$0')
clean_calendar_df = calendar_new_df

# place result in pandas df
# clean_calendar_df = pd.DataFrame(data= clean_calendar_df)

# remove duplicate if there are any
clean_calendar_df.drop_duplicates(inplace = True)

# print to review
clean_calendar_df.head()

   listing_id        date available price
0      241032  2016-01-04         t    $0
1      241032  2016-01-05         t    $0
2      241032  2016-01-06         f    $0
3      241032  2016-01-07         f    $0
4      241032  2016-01-08         f    $0

In [12]:
# create path for listings file and read
listings_file = "Resources/listings.csv"

listings_df = pd.read_csv(listings_file)
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [13]:
# exploring
# set to create a new df with columns 'listing_id', 'available', 'price', however, noticed that in the "available" column if value = f, the the value in the "price" column would be NaN, 
# therefore "available" column is not of much use as all NaN values pwill be removed. 

calendar_new_df = calendar_df[['listing_id', 'date','available', 'price']].copy()
calendar_new_df

         listing_id        date available   price
0            241032  2016-01-04         t  $85.00
1            241032  2016-01-05         t  $85.00
2            241032  2016-01-06         f     NaN
3            241032  2016-01-07         f     NaN
4            241032  2016-01-08         f     NaN
...             ...         ...       ...     ...
1393565    10208623  2016-12-29         f     NaN
1393566    10208623  2016-12-30         f     NaN
1393567    10208623  2016-12-31         f     NaN
1393568    10208623  2017-01-01         f     NaN
1393569    10208623  2017-01-02         f     NaN

[1393570 rows x 4 columns]

In [27]:
# drop all nan values
clean_calendar_df = calendar_new_df.dropna()

# replace NaN values for $0 so that it can be used. 
calendar_new_df['price'] = calendar_new_df['price'] .fillna('$0')
clean_calendar_df = calendar_new_df

# place result in pandas df
# clean_calendar_df = pd.DataFrame(data= clean_calendar_df)

# remove duplicate if there are any
clean_calendar_df.drop_duplicates(inplace = True)

# print to review
clean_calendar_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f      $0
3      241032  2016-01-07         f      $0
4      241032  2016-01-08         f      $0

In [15]:
# create path for listings file and read
listings_file = "Resources/listings.csv"

listings_df = pd.read_csv(listings_file)
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [16]:
# check all columns
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [86]:
# set new df with desired columns
listings_new_df = listings_df[['id','number_of_reviews', 'review_scores_rating',]].copy()

In [89]:

listings_new_df.head()

        id  number_of_reviews  review_scores_rating
0   241032                207                  95.0
1   953595                 43                  96.0
2  3308979                 20                  97.0
3  7421966                  0                   NaN
4   278830                 38                  92.0

In [90]:
listings_new_df.dtypes

id                        int64
number_of_reviews         int64
review_scores_rating    float64
dtype: object

In [94]:
listings_host_df = listings_df[['id','host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'zipcode']].copy()
listings_host_df

,id,host_response_rate,host_acceptance_rate,host_is_superhost,zipcode
0,241032,96%,100%,f,98119
1,953595,98%,100%,t,98119
2,3308979,67%,100%,f,98119
3,7421966,NaN,NaN,f,98119
4,278830,100%,NaN,f,98119
...,...,...,...,...,...
3813,8101950,99%,100%,f,98107
3814,8902327,100%,100%,f,98102
3815,10267360,NaN,NaN,f,98178
3816,9604740,100%,NaN,f,98112
3817,10208623,100%,NaN,f,98109

In [101]:
listings_host_df = listings_host_df[listings_host_df['zipcode'].str.len() == 5]
listings_host_df

,id,host_response_rate,host_acceptance_rate,host_is_superhost,zipcode
0,241032,96%,100%,f,98119
1,953595,98%,100%,t,98119
2,3308979,67%,100%,f,98119
3,7421966,NaN,NaN,f,98119
4,278830,100%,NaN,f,98119
...,...,...,...,...,...
3813,8101950,99%,100%,f,98107
3814,8902327,100%,100%,f,98102
3815,10267360,NaN,NaN,f,98178
3816,9604740,100%,NaN,f,98112
3817,10208623,100%,NaN,f,98109

In [106]:
listings_host_df = listings_host_df.dropna()
listings_host_df

,id,host_response_rate,host_acceptance_rate,host_is_superhost,zipcode
0,241032,96%,100%,f,98119
1,953595,98%,100%,t,98119
2,3308979,67%,100%,f,98119
6,1909058,100%,100%,t,98119
7,856550,100%,100%,t,98119
...,...,...,...,...,...
3810,262764,100%,100%,f,98103
3811,8578490,100%,100%,f,98103
3812,3383329,100%,100%,t,98107
3813,8101950,99%,100%,f,98107
3814,8902327,100%,100%,f,98102

In [111]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'airbnb_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [112]:
insp.get_table_names()

['calendar', 'listings_reviews', 'listings_host']

In [44]:
clean_calendar_df.to_sql(name='calendar', con=engine, if_exists='append', index=False)

In [95]:
listings_new_df.to_sql(name='listings_reviews', con=engine, if_exists='append', index=False)

In [113]:
listings_host_df.to_sql(name='listings_host', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "listings_host_pkey"
DETAIL:  Key (id)=(241032) already exists.

[SQL: INSERT INTO listings_host (id, host_response_rate, host_acceptance_rate, host_is_superhost, zipcode) VALUES (%(id)s, %(host_response_rate)s, %(host_acceptance_rate)s, %(host_is_superhost)s, %(zipcode)s)]
[parameters: ({'id': 241032, 'host_response_rate': '96%', 'host_acceptance_rate': '100%', 'host_is_superhost': 'f', 'zipcode': '98119'}, {'id': 953595, 'host_response_rate': '98%', 'host_acceptance_rate': '100%', 'host_is_superhost': 't', 'zipcode': '98119'}, {'id': 3308979, 'host_response_rate': '67%', 'host_acceptance_rate': '100%', 'host_is_superhost': 'f', 'zipcode': '98119'}, {'id': 1909058, 'host_response_rate': '100%', 'host_acceptance_rate': '100%', 'host_is_superhost': 't', 'zipcode': '98119'}, {'id': 856550, 'host_response_rate': '100%', 'host_acceptance_rate': '100%', 'host_is_superhost': 't', 'zipcode': '98119'}, {'id': 2493658, 'host_response_rate': '98%', 'host_acceptance_rate': '100%', 'host_is_superhost': 't', 'zipcode': '98119'}, {'id': 175576, 'host_response_rate': '100%', 'host_acceptance_rate': '100%', 'host_is_superhost': 't', 'zipcode': '98119'}, {'id': 4454295, 'host_response_rate': '100%', 'host_acceptance_rate': '100%', 'host_is_superhost': 'f', 'zipcode': '98119'}  ... displaying 10 of 3022 total bound parameter sets ...  {'id': 8101950, 'host_response_rate': '99%', 'host_acceptance_rate': '100%', 'host_is_superhost': 'f', 'zipcode': '98107'}, {'id': 8902327, 'host_response_rate': '100%', 'host_acceptance_rate': '100%', 'host_is_superhost': 'f', 'zipcode': '98102'})]
(Background on this error at: http://sqlalche.me/e/gkpj)